// Place all the styles related to the Machines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




body{
	margin-top: 30px;
	text-align: center;
}

div.butto{
	display: inline;
	form, div{
				display: inline;
			}
}

#notice {
  font-size: 120%;
	margin-right: 400px;
	margin-left: 400px;
	background: #D8D8D8 ;
	color: black;

}