<h2>Welcome to</h2>
<h1> online Vending Machine</h1>

<%= image_tag("illustration-featuring-a-vending-machine.jpg", :size => "250x300")  %>
<p>current amount of money: <%= @vending.value%>  £
    </br>
    current amount of change: <%= @vending.change%>  £
    </br>

    current stock of snickers: <%= @vending.snickers%> || current stock of coca-cole: <%= @vending.coca_cole%>  || current stock of sandwich: <%= @vending.sandwich%> || current stock of water bottles: <%= @vending.water%> </p>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h3>Coins</h3>
<div class="butto">
  <%= button_to '1p', machines_path(:amount => "0.01"), class: "btn btn-warning" %>
  <%= button_to '2p', machines_path(:amount => "0.02"), class: "btn btn-warning" %>
  <%= button_to '10p', machines_path(:amount => "0.1"), class: "btn btn-warning" %>
  <%= button_to '20p', machines_path(:amount => "0.2"), class: "btn btn-warning" %>
  <%= button_to '50p', machines_path(:amount => "0.5"), class: "btn btn-warning" %>
  <%= button_to '1 £', machines_path(:amount => "1"), class: "btn btn-warning" %>
  <%= button_to '2 £', machines_path(:amount => "2"), class: "btn btn-warning" %>
</div>
<h3>Purchase</h3>
<div class="butto">
<%= button_to 'water , 55p', machines_path(:item => "water", :price => "0.55"), class: "btn btn-success" %>
  <%= button_to 'snickers , 45p', machines_path(:item => "snickers", :price => "0.45"), class: "btn btn-success" %>
  <%= button_to 'sandwich, 1.5£', machines_path(:item => "sandwich", :price => "1.5"), class: "btn btn-success" %>
  <%= button_to 'coca cole , 1£', machines_path(:item => "coca_cole", :price => "1"), class: "btn btn-success" %>
  </div>

<br/><br/><br/>
<br/><br/><br/>

<h3>Re-Stock Sector</h3>

    <div class="butto">

  <%= button_to 'add 5 items to snickers', machines_path(:restock => "snickers_restock"), class: "btn btn-inverse" %>
  <%= button_to 'add 5 items to coca cole', machines_path(:restock => "coca_cole_restock"), class: "btn btn-inverse" %>
  <%= button_to 'add 5 items to sandwich', machines_path(:restock => "sandwich_restock"), class: "btn btn-inverse" %>
  <%= button_to 'add 5 items to water', machines_path(:restock => "water_restock"), class: "btn btn-inverse" %>
  <br/><br/>

  <%= button_to 'add £2 in 1p for change', machines_path(:change => "2"), class: "btn btn-inverse" %>
  </div>
  </br></br> </br></br>

  <p>© 2014 Berkakis I. Antonis. </p>